.peg,
.wheelSVG {
    visibility: hidden;
}


body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif !important;
}

.centerCircle,
.valueContainer,
.wheelOutline,
.wheelText {
    pointer-events: none;
}

body,
html {
    text-align: center;
}


button {
    position: relative;
    background-color: #E81D62;
}

body {
    background-color: linear-gradient(0deg, #d6f4ff 31%, #fff);
    overflow-x: hidden;
    overflow-y: visible;
}

body,
html {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    margin-top: 2rem;

}

.wheelContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 75vh;

}

.wheelSVG {
    position: relative;
    overflow: visible;
    height: 75vh;
}

.wheelText {
    text-anchor: start;
    font-family: Montserrat, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

.wheelText tspan {
    text-anchor: middle;
    letter-spacing: 2px;
}

.toast {
    border-radius: 12px;
    opacity: 0;
    background-color: #272727;
    position: absolute;
    overflow: hidden;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    width: 50vw;
    padding: 20px 40px;

    max-width: 1000px;
}

.toast p {
    clear: both;
    font-family: Montserrat, Arial, sand-serif;
    margin: 23px;
    font-size: 30px;
    color: #ededed;
    letter-spacing: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 32px;
    -webkit-transition: line-height .2s ease;
    transition: line-height .2s ease;
}

button {
    position: relative;
    width: 60vw;
    /* top: 20px; */
    max-width: 400px;
    padding: 20px;
    font-weight: 700;
    font-size: 2rem;
    color: #ededed;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 0 #0056b3;
    background-color: #0056b3;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
}

@media only screen and (max-width: 480px) {


    button {
        font-size: 1rem;
        padding: 10px;
        width: 60vw;
    }

    .toast {
        padding: 0;
    }

    .toast p,
    .toast span {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .wheelContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100vw;
        height: 40vh;

    }

    .wheelSVG {
        position: relative;
        overflow: visible;
        height: 44vh;
    }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {

    .toast {
        padding: 0;
    }

    .toast p,
    .toast span {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}

@media only screen and (min-width: 801px) {

    .toast p,
    .toast span {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media only screen and (max-height: 480px) {

    .toast p,
    .toast span {
        font-size: 33px;
        line-height: 35px;
    }

    button {
        font-size: 22px;
        padding: 10px;
        width: 90%;
    }


}

button:focus {
    outline: 0;
}

a:link {
    color: #F1DC16;
}

a:visited {
    color: #F1DC16;
}

a:hover {
    color: #F1DC16;
}

a:active {
    color: #F1DC16;
}

.carousel .item {
    height: 484px;
}

.item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    max-height: 484px;
}

.card-header {
    font-size: 24px;
    font-weight: 500;
    background-color: #d1e6ff;
}

.blockquote {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.card {
    border-radius: 10px;
}

.redeem {
    margin: 0 auto;
}

.redeem input {
    width: 330px;
    margin: 0 auto;
    padding: 20px;
}

.token {
    font-size: 24px;

}

.toast{
    background-color: #272727 !important;
}
.container-banner{
    width: 100%;
    max-width: 1920px;
    margin-top: -24px
}
.card-wheel{
    width: 100%;
}
.token{
    color: #fff;
    margin-bottom: 15px;
}
.spinBtn{
    background-color: #004DA0;
    border: 4px solid #568FFD;
    border-radius: 10px;
}
.redeem button {
    border: 2px solid #FFF;
    color: #FFF;
    width: 100%;
}
.redeem input {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.spin-form button{
    width: 100%;
}
@media only screen and (max-width: 480px){
.wheelSVG {
    position: relative;
    overflow: visible;
    height: 33vh;
}
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    margin-top: -10px !important;
}

ul,
li {
    margin-top: 10px;
}

footer {
    text-align: center;
    font-weight: 200;
    color: rgb(255, 255, 255);
    background-color: #031a36;
    padding: 20px;
    margin-top: 35px;
}
